<!DOCTYPE html>
<html>
  <head>
    <title>Dispeak</title>
    <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
